@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .clip-custom {
      clip-path: inset(0 75% 0 0); /* Ajusta este valor para recortar la imagen */

    }
  }

  /* Colores */
.poke-color-black {
  background-color: #333; /* Negro */
}

.poke-color-blue {
  background-color: #3b82f6; /* Azul */
}

.poke-color-brown {
  background-color: #a52a2a; /* Marrón */
}

.poke-color-gray {
  background-color: #6b7280; /* Gris */
}

.poke-color-green {
  background-color: #10b981; /* Verde */
}

.poke-color-pink {
  background-color: #ec4899; /* Rosa */
}

.poke-color-purple {
  background-color: #8b5cf6; /* Púrpura */
}

.poke-color-red {
  background-color: #ef4444; /* Rojo */
}

.poke-color-white {
  background-color: #f3f4f6; /* Blanco */
}

.poke-color-yellow {
  background-color: #f59e0b; /* Amarillo */
}

/* Esqueleto */

.skeleton-card {
  @apply bg-gray-300 rounded p-4 w-full h-[200px] animate-pulse;
}

.skeleton-image {
  @apply bg-gray-400 rounded w-full h-[120px] mb-4;
}

.skeleton-text {
  @apply bg-gray-400 rounded w-full h-4 mb-4;
}

.skeleton-buttons {
  @apply bg-gray-400 rounded w-[30%] h-6;
}